/*Begin of the table*/
table, ul {
	list-style-type: none; #??
}

table.center {
    width: 1260px;
    margin-left:auto; 
    margin-right:auto;
}

td{
	width: 320px;
	text-align: center;
}

.td150{
    width: 150px;	
}

/*End of the table*/
/*#Begin of the menu*/


li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
/*    color: white;*/
    color: black;
/*    padding: 14px 16px;*/
    padding-top:10px;
	padding-bottom:5px;
	padding-left:17px;
	padding-right:17px;
    text-decoration: none;
	text-align: center;
}

.wrapper {
        text-align: center;
    }
    .wrapper ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }
    .wrapper li {
        float: left;
        padding: 0;
        border: 0;
    }

li a:hover, .dropdown:hover .dropbtn,
div.wrapper li.selected a,
div.wrapper li.dropdownselected a.dropbtn{ /*#2. half for the selected menu item*/
    font-weight: bold;
}

li.dropdown, li.dropdownselected {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content, .dropdownselected:hover .dropdown-content{
    display: block;
}

a::after {
    display:block;
    content:attr(title);
    font-weight:bold;
    height:1px;
    color:transparent;
    overflow:hidden;
    visibility:hidden;
}

hr{
    padding:0;
	margin-top:0;
	margin-bottom:0;
}

/*End of the menu*/