#Begin of the table
table, ul {
	list-style-type: none;  #??
}

table{
    width: 1260px;
	border: 1px;	
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

td{
    width: 320px;
	text-align: center;	
}

.td150{
    width: 150px;	
}

/*table, td, th {
    font-weight: normal;
    border: 1px solid black;
}*/
#End of the table
#Begin of the menu
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
#    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
#    color: white;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    font-weight: bold;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#End of the menu